<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let recipe of favourites">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" alt="{{ recipe.title }}">
      </ion-thumbnail>
      <ion-label>{{ recipe.title }}</ion-label>
      <ion-button slot="end" (click)="goToDetails(recipe.id)">Details</ion-button>
    </ion-item>
  </ion-list>
  <p *ngIf="favourites.length === 0">No favourites added yet.</p>
</ion-content>

<ion-button (click)="goHome()" style="width: 150px; margin: 16px auto; display: block;">
  Back to Home
</ion-button>

