<ion-header>
  <ion-toolbar>
    <ion-title>G00438824</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">
        ❤️
      </ion-button>
      <ion-button (click)="goToSettings()">
        ⚙️
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Enter Ingredients"
      labelPlacement="floating"
      placeholder="Ingredients"
      [(ngModel)]="ingredients">
    </ion-input>
  </ion-item>

  <ion-button (click)="searchRecipes()">Search</ion-button>

  <ion-list>
    <ion-item *ngFor="let recipe of recipes">
      <ion-thumbnail slot="start">
        <img [src]="recipe.image" alt="{{ recipe.title }}">
      </ion-thumbnail>
      <ion-label>{{ recipe.title }}</ion-label>
      <ion-button slot="end" (click)="goToDetails(recipe.id)">Details</ion-button>
    </ion-item>
  </ion-list>

  <p *ngIf="recipesLoaded && recipes.length === 0">
     No recipes found for "{{ ingredients }}"
</p>


</ion-content>
